html {
    background-color: #222831;
    background: #222831;
}

body {
    background-color: #222831;
    background: #222831;
}

h1 {
    color : #29a19c;
    font-family: 'Poppins', sans-serif;
}

