html {
    background-color: #222831;
    background: #222831;
}

body {
    background-color: #222831;
    background: #222831;
}

h1 {
    font-size: 70px;
    color : #29a19c;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
    /*text-shadow: -2px 0px #a3f7bf; /* #393e46;
    /* -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27; */
}

.line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: inherit;
    background-color: #29a19c;
    top: 0;
}

.contentDiv {
    padding-bottom: 300px;
    vertical-align: 100px;
}

.footerDiv {

}