html {
    background-color: #222831;
    background: #222831;
    height : 00%;
    margin : 0;
    padding: 0;
}

body {
    background-color: #222831;
    background: #222831;
    height : 00%;
    margin : 0;
    padding: 0;
    /* #393e46 */
}

p {
    font-size: 0.75vw;
    color:  white;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

h1 {
    font-size: 4vw;
    color : #29a19c;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
    /*vertical-align: center;
    /*text-shadow: -2px 0px #a3f7bf; /* #393e46;
    /* -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27; */
}

h2, h4 {
    font-size: 1.7vw;
    color:  white;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    /*vertical-align: center;*/
}

h3 ,h5{
    color : #29a19c;
   
    font-family: 'Poppins', sans-serif;   
}

hr {
    border: 1px solid white;
  
}

a { 
    color: #a3f7bf;
    cursor: pointer;
}

a:hover {
    color: #a3f7bf;
    cursor: pointer;
}


.virgo {
    z-index: 0;
    width: 100%;
    position: relative;

}

.particles {
    left: 0px;
    top: 0px;
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.porrima *, .zaniah *, .heze * , .zavijava *, .spica *, .vindemiatrix *, .theta *, .auva * {
    fill : white;
}


.porrima:hover *, .zaniah:hover *, .heze:hover *, .zavijava:hover *, .spica:hover *, .vindemiatrix:hover * , .theta:hover *, .auva:hover * {
    fill : #29a19c;
    cursor: pointer;

}

.line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: inherit;
    background-color: #29a19c;
    top: 0;
}

.contentDiv {
    justify-content: center;
    

    
}

.sectionHeader {
    padding-top: 20%;
    min-height: 10em;
    
}


.footerDiv {

}

.scroller {
    fill : #29a19c;
    cursor: pointer;
}

.sectionBackground {
    background-image: url(../images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


.contentCard {
    opacity: 0;
    margin-top: 100px;
    background-color: #222831;
    padding: 24px;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    min-height: 656px;
}

.projectCard {
    background-color: #222831;
    padding: 24px;
    margin-top: 15px;
    margin-right: 32px;
    border-radius: 10px;
   
    flex-direction: column;
    width: 30%;
    height: 50%;
  
    position: relative;
    
}

.projectCard:hover {

}

.projectCardFooter {
    position: absolute;
    bottom : 10px;
}

.cardDeck {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.projectCardIcon {
    width: 9%;
    margin-left: 8px;
    
}

.projectCardImage {
    
    display: block;
    margin : auto;
    width: 30%;
    /* height: 30%;  */
   max-width: 50%;
   max-height: 40%;

   
}
